[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/zeromq"]
	path = external/zeromq
	url = https://github.com/zeromq/libzmq.git
[submodule "external/rocksdb"]
	path = external/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/protobuf"]
	path = external/protobuf
	url = https://github.com/google/protobuf.git
[submodule "external/beast"]
	path = external/beast
	url = https://github.com/boostorg/beast.git
